<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>

  <body>
    <% if (isAuthenticated) { %> <%- include('../includes/body.ejs') %>

    <div class="header0001"></div>

    <div class="admin-content">
      <div class="top-content">
        <div class="coverpad">
          <img src="/<%= visitedUser.coverImage %>" width="850px" />
        </div>
        <div class="coverpadx">
          <form
            action="/coverImage?_csrf=<%= csrfToken %>"
            method="POST"
            enctype="multipart/form-data"
          >
            <input type="file" name="coverImage" />
            <button type="submit">Upload</button>
          </form>
        </div>

        <div class="profilepic">
          <img src="/<%= visitedUser.profileImage %>" />
        </div>
        <div class="profilepicx">
          <form
            action="/profileImage?_csrf=<%= csrfToken %>"
            method="POST"
            enctype="multipart/form-data"
          >
            <input type="file" name="profileImage" />
            <button type="submit">Upload</button>
          </form>
        </div>
        <div class="username">
          <%= visitedUser.firstname %> <%= visitedUser.surname %>
        </div>
        <div class="admin-extra">
          <a href="/admin/<%= visitedUser._id %>">
            <div class="box11 active">Timeline</div>
          </a>
          <!-- <div class="box12">About</div> -->
          <a href="/admin/<%= visitedUser._id %>/friends">
            <div class="box13">Friends</div>
          </a>
          <!-- <div class="box14">Photos</div> -->

          <!-- <select>
            <option value="more" selected>More</option>
            <option value="videos">Videos</option>
            <option value="places">Places</option>
            <option value="pages">Pages</option>
          </select> -->
        </div>
      </div>

      <input type="hidden" class="user-id" value="<%= user._id %>" />

      <div class="postpx">
        <form
          action="/feed?_csrf=<%= csrfToken %>"
          method="POST"
          enctype="multipart/form-data"
        >
          <div id="column-1" class="post">
            Create Post
            <hr />
            <br /><br /><br /><br /><br /><br />
            <hr />
            <input type="file" name="image" />
          </div>
          <div id="postpos" class="">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit" id="buttonpost">Post</button>
          </div>
          <div id="postboxpos" class="postp">
            <textarea
              placeholder="Write something here..."
              name="text"
              id="postbox"
              type="text"
            ></textarea>
          </div>
        </form>
      </div>

      <% if (feeds.length > 0) { %> <% feeds.forEach(feed => { %>
      <div class="post1px">
        <div class="feed">
          <div class="clean-top">
            <div class="flex">
              <img src="/<%= feed.user.profileImage %>" id="profpic-feed" />
              <div class="filter">
                <p3><%= feed.user.firstname %> <%= feed.user.surname %></p3>
                <% if (showDeleteBtn) { %>
                <div class="form">
                  <form
                    action="/admin/<%= user._id %>/deleteFeed"
                    method="POST"
                  >
                    <input
                      type="hidden"
                      name="_csrf"
                      value="<%= csrfToken %>"
                    />
                    <input
                      type="hidden"
                      name="feedId"
                      value="<%= feed._id %>"
                    />
                    <button type="submit">Delete Post</button>
                  </form>
                </div>
                <% } %>
              </div>
            </div>
            <div class="time">
              <p4><%= feed.createdTime %>.</p4>
            </div>
            <div id="feedText">
              <p><%= feed.text %></p>
            </div>
          </div>

          <% if (feed.image.slice((feed.image.lastIndexOf(".") - 1 >>> 0) + 2)
          == 'mp4') { %>
          <video class="post-image" src="/<%= feed.image %>" controls></video>
          <br /><br />
          <% } else { %>
          <img class="post-image" src="/<%= feed.image %>" /><br /><br />
          <% } %>

          <div class="clean-bottom">
            <p6>Like Comment Share</p6><br />
            <hr />

            <% if (feed.comments.length > 0) { %> <%
            feed.comments.forEach(comment => { %> <% if
            (commentUserMap.has(comment.commenter.toString())) { %>
            <div class="comment-list">
              <div class="comment-image">
                <a
                  href="/admin/<%= commentUserMap.get(comment.commenter.toString())._id %>"
                >
                  <img
                    src="/<%= commentUserMap.get(comment.commenter.toString()).profileImage %>"
                    id="profpic"
                  />
                </a>
              </div>
              <div class="comment-text">
                <a
                  class="commenter-name"
                  href="/admin/<%= commentUserMap.get(comment.commenter.toString())._id %>"
                >
                  <%= commentUserMap.get(comment.commenter.toString()).firstname
                  %> <%=
                  commentUserMap.get(comment.commenter.toString()).surname %>
                </a>
                <span><%= comment.text %></span>
              </div>
            </div>
            <% } %> <% }) %> <% } %>
            <div id="commentprof2">
              <div class="comment-image">
                <img src="/<%= user.profileImage %>" id="profpic" />
              </div>
              <form class="commente-form" action="/comment" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input type="hidden" name="feedId" value="<%= feed._id %>" />
                <input
                  type="hidden"
                  name="commenterId"
                  value="<%= user._id %>"
                />
                <input
                  type="textarea"
                  placeholder=" Write a comment..."
                  name="comment"
                  id="commentbox"
                  required
                />
                <button type="submit">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% }) %> <% } else { %>
      <h1 class="feed-h1">No feeds uploaded!</h1>
      <% } %>

      <!-- <div class="aboutpad">about</div>
      <div class="aboutpadx"></div>

      <div class="abox1x"></div>

      <div class="abox2x"></div>

      <div class="abox3x"></div>

      <div class="phpad">photo</div>

      <div class="phpadx"></div> -->
    </div>

    <% } else { %>
    <h1>You are not authenticated! Please go back to login</h1>
    <a style="color: black" href="/">FB Login Page</a>
    <% } %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket.js"></script>
  </body>
</html>
