<div class="body-header">
  <div class="header1">
    <div id="img3">
      <img src="/images/fb_logo.png" id="img3" />
    </div>
    <div id="searcharea">
      <form action="/search" method="POST">
        <div class="search__div">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input
            placeholder="  Search name"
            type="text"
            id="searchbox"
            name="personname"
          />
        </div>
        <button type="submit">Search</button>
      </form>
    </div>
    <div class="nav-bar">
      <div id="profilearea" class="">
        <a href="/admin/<%= user._id %>"
          ><img src="/<%= user.profileImage || defaultImage %>" id="profpic"
        /></a>
      </div>
      <div id="profilearea1" class="">
        <a href="/admin/<%= user._id %>"><%= user.firstname %></a>
      </div>
      <div id="profilearea3" class="">|</div>
      <div id="profilearea4" class=""><a href="/feed">Home</a></div>
      <div id="profilearea5" class="">|</div>
      <!-- <div id="findf" class=""><img src="/images/fb_friend_request.png" height="35" /></div> -->
      <!-- <div id="message" class=""><img src="/images/messege_icon.png" height="20" /></div> -->
      <div id="notification" class="">
        <a href="/notification" class="notif"
          ><% if (numOfNotification) { %><span class="num"
            ><%= numOfNotification %></span
          ><% } %></a
        >
      </div>
      <div id="profilearea2" class="">|</div>
      <div id="logout" class="">
        <form action="/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="lg_btn" id="buttonpost" type="submit">Log Out</button>
        </form>
      </div>
    </div>
  </div>
</div>
